:root {
    --slider-width: 600px;
    --number: 5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    visibility: hidden;
}
body {
    width: 100%;
    height: 100vh;
    font-family: Georgia;
    src: url("/cssMemeSlider/assets/fonts/georgia/georgia-bold.ttf");
    font-size: 1.5rem;
    text-align: left;
    color: #545454;  
    background-color: #F6F6F6; 
}
.start-section {
    width: var(--slider-width);
    height: 680px;
    margin: 2rem auto;
}
.slider-gallery {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F6F6F6;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'content content'
        'description control';
    row-gap: 2rem;
}
.slider-gallery > input {
    display: none;
}
.img-gallery-content {
    grid-area: content;
}
.img-gallery-content, .slider-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.img__content, .text__description {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 1s ease;
}
.img__content, .slide {
    display: inline-block;
    width: var(--slider-width);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img__content, .slide-1 {
    background-image: url(./img/1.jpg);
}
.img__content, .slide-2 {
    background-image: url(./img/2.jpg);
}
.img__content, .slide-3 {
    background-image: url(./img/3.jpg);
}
.img__content, .slide-4 {
    background-image: url(./img/4.jpg);
}
.img__content, .slide-5 {
    background-image: url(./img/5.jpg);
}
.slider-text {
    grid-area: description;
}
.text__description, .slide {
    display: inline-block;
    width: var(--slider-width);
    height: 100%;
}
.respond__control {
    display: flex;
    justify-content: space-around;
    grid-area: control;
}

.respond__control label {
    position: relative;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.respond__control label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #545454;
    transition: all 0.5s ease-out;
}
.respond__control label:hover:before {
    border: 1px solid #545454;
    background-color: #fafafa;
}
#toggle1:checked ~ .img-gallery-content .img__content, 
#toggle1:checked ~ .slider-text .text__description {
    transform: translateX(0);
}  
#toggle2:checked ~ .img-gallery-content .img__content,
#toggle2:checked ~ .slider-text .text__description {
    transform: translateX(-600px);
}  
#toggle3:checked ~ .img-gallery-content .img__content,
#toggle3:checked ~ .slider-text .text__description {
    transform: translateX(-1200px);
}  
#toggle4:checked ~ .img-gallery-content .img__content,
#toggle4:checked ~ .slider-text .text__description {
    transform: translateX(-1800px);
}
#toggle5:checked ~ .img-gallery-content .img__content,
#toggle5:checked ~ .slider-text .text__description {
    transform: translateX(-2400px);
}
#toggle1:checked ~ .respond__control .respond__control-1:before {
    background-color: #545454;
}
#toggle2:checked ~ .respond__control .respond__control-2:before {
    background-color: #545454;
}
#toggle3:checked ~ .respond__control .respond__control-3:before {
    background-color: #545454;
}
#toggle4:checked ~ .respond__control .respond__control-4:before {
    background-color: #545454;
}
#toggle5:checked ~ .respond__control .respond__control-5:before {
    background-color: #545454;
}